# Credentials
cred/
!cred/examples/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Generated Output & Patient Data
generated_output/
test_generated_output/
*.pdf
*patients_db.json
**/patients_db.json
*.log
src/core/patients_db/

# Secrets & Configs
core/UAT Plan.xlsx
.continue/
.search_cache/
.pytest_cache/

# Artifacts
artifacts/
core/patient_name_cache.json
