# Credentials
cred/
!cred/examples/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Generated Output
generated_output/

# Secrets
core/*.json
core/patients_db.json
core/UAT Plan.xlsx
.continue/
.search_cache/
.pytest_cache/